.main-header {
  padding-top: 50px;
}
.main-header .header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header .header-wrapper .page-logo {
  display: flex;
  gap: 10px;
}
.main-header .header-wrapper .menu-logo {
  display: none;
}
@media screen and (max-width: 779px) {
  .main-header .header-wrapper .menu-logo {
    display: block;
  }
}
.main-header .header-wrapper .main-navigation ul.main-menu {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 48px;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}
@media screen and (max-width: 949px) {
  .main-header .header-wrapper .main-navigation ul.main-menu {
    gap: 20px;
  }
}
@media screen and (max-width: 779px) {
  .main-header .header-wrapper .main-navigation ul.main-menu {
    display: none;
  }
}
.main-header .header-wrapper .main-navigation ul.main-menu li.menu-item {
  list-style-type: none;
}
.main-header .header-wrapper .main-navigation ul.main-menu li.menu-item .menu-link {
  text-decoration: none;
}
.main-header .header-wrapper .main-navigation ul.main-menu li.menu-item .menu-link:not(.button-small) {
  color: #333333;
}

.hero-box-wrapper {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 170px;
  padding-bottom: 250px;
  background-image: url(images/Group\ 2574.svg);
  background-repeat: no-repeat;
  background-position: 80% 100px;
  background-size: 343px auto;
  position: relative;
}
@media screen and (max-width: 949px) {
  .hero-box-wrapper {
    background-position: 100% 100px;
  }
}
@media screen and (max-width: 779px) {
  .hero-box-wrapper {
    background-position: 120% 100px;
  }
}
@media screen and (max-width: 699px) {
  .hero-box-wrapper {
    background-position: 150% 100px;
  }
}
@media screen and (max-width: 599px) {
  .hero-box-wrapper {
    background-position: 190% 100px;
  }
}
.hero-box-wrapper::before {
  content: url(images/Ellipse\ 119\ \(2\).svg);
  position: absolute;
  left: -132px;
  bottom: 150px;
  height: 132px;
}
.hero-box-wrapper .hero-box {
  padding-top: 50px;
  padding-left: 40px;
  width: 48%;
  background-image: url(images/Ellipse\ 116.svg);
  background-repeat: no-repeat;
  background-position: 230px 5%;
  background-size: 84px;
}
@media screen and (max-width: 779px) {
  .hero-box-wrapper .hero-box {
    width: 60%;
  }
}
@media screen and (max-width: 699px) {
  .hero-box-wrapper .hero-box {
    width: 80%;
  }
}
@media screen and (max-width: 599px) {
  .hero-box-wrapper .hero-box {
    width: 65%;
    padding-left: 10px;
    background-position: 150px 5%;
  }
}
.hero-box-wrapper .hero-box .page-title {
  color: #333333;
  font-size: 48px;
  line-height: 116%;
  margin-bottom: 24px;
  margin-top: 0;
  text-transform: uppercase;
  font-weight: 500;
}
@media screen and (max-width: 799px) {
  .hero-box-wrapper .hero-box .page-title {
    font-size: 40px;
  }
}
@media screen and (max-width: 779px) {
  .hero-box-wrapper .hero-box .page-title {
    font-size: 36px;
  }
}
@media screen and (max-width: 599px) {
  .hero-box-wrapper .hero-box .page-title {
    font-size: 32px;
  }
}
.hero-box-wrapper .hero-box .page-description {
  margin-bottom: 32px;
  padding-right: 20px;
  font-size: 20px;
  line-height: 132%;
  letter-spacing: 0.04em;
  color: #4F4F4F;
  font-weight: 400;
}

.main-offers .main-offers-wrapper {
  padding: 70px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 799px) {
  .main-offers .main-offers-wrapper {
    flex-wrap: wrap;
  }
}
.main-offers .main-offers-wrapper .main-offers-info {
  width: 45%;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  position: relative;
}
@media screen and (max-width: 949px) {
  .main-offers .main-offers-wrapper .main-offers-info {
    width: 50%;
  }
}
@media screen and (max-width: 799px) {
  .main-offers .main-offers-wrapper .main-offers-info {
    width: 60%;
  }
}
.main-offers .main-offers-wrapper .main-offers-info::before {
  content: "";
  background: linear-gradient(164.26deg, rgba(239, 128, 49, 0) -335.51%, rgba(239, 128, 49, 0.15) -20.24%, rgba(239, 128, 49, 0) 119.45%);
  position: absolute;
  width: 1000px;
  height: 120px;
  right: 0;
}
.main-offers .main-offers-wrapper .offers-list {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
@media screen and (max-width: 949px) {
  .main-offers .main-offers-wrapper .offers-list {
    width: 52%;
  }
}
@media screen and (max-width: 799px) {
  .main-offers .main-offers-wrapper .offers-list {
    width: 100%;
  }
}
.main-offers .main-offers-wrapper .offers-list .offer {
  padding: 40px;
  width: 50%;
  border-radius: 8px;
  transition-timing-function: ease-in-out;
}
.main-offers .main-offers-wrapper .offers-list .offer:hover {
  background-color: #FEFEFE;
  box-shadow: 0px 5.87438px 31.33px rgba(155, 148, 148, 0.17);
}
.main-offers .main-offers-wrapper .offers-list .offer:hover .offer-icon {
  background-color: #647B64;
}
.main-offers .main-offers-wrapper .offers-list .offer:hover .offer-icon svg path {
  fill: #FEFEFE;
}
.main-offers .main-offers-wrapper .offers-list .offer-icon {
  margin-bottom: 16px;
  padding: 10px;
  border-radius: 8px;
  background-color: #FEFEFE;
  display: inline-block;
  transition-timing-function: ease-in-out;
}
.main-offers .main-offers-wrapper .offers-list .offer-icon svg path {
  fill: #647B64;
  transition-timing-function: ease-in-out;
}
.main-offers .main-offers-wrapper .offers-list .offer-description {
  font-weight: 400;
  font-size: 13px;
  line-height: 132%;
  letter-spacing: 0.04em;
  color: #4F4F4F;
}

.working-types {
  padding: 70px 0;
  position: relative;
  overflow: hidden;
}
.working-types .working-types-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}
.working-types .working-types-wrapper::before {
  content: url("images/Dots 8px.1.svg");
  position: absolute;
  left: -30px;
  bottom: -40px;
  z-index: 1;
}
.working-types .working-types-wrapper::after {
  content: "";
  position: absolute;
  right: -800px;
  bottom: -40px;
  background: linear-gradient(197.92deg, rgba(239, 128, 49, 0) -227.37%, rgba(239, 128, 49, 0.15) 1.58%, rgba(239, 128, 49, 0) 103.02%);
  transform: rotate(180deg);
  border-radius: 8px;
  height: 180px;
  width: 1000px;
}
@media screen and (max-width: 699px) {
  .working-types .working-types-wrapper::after {
    overflow: hidden;
  }
}
.working-types .working-types-wrapper .working-types-info-wrapper {
  display: flex;
  gap: 40px;
}
@media screen and (max-width: 949px) {
  .working-types .working-types-wrapper .working-types-info-wrapper {
    gap: 20px;
  }
}
@media screen and (max-width: 779px) {
  .working-types .working-types-wrapper .working-types-info-wrapper {
    overflow: hidden;
    min-width: 699px;
  }
}
.working-types .working-types-wrapper .working-types-info-wrapper .working-type {
  padding: 75px 50px;
  background: linear-gradient(358.27deg, rgba(100, 123, 100, 0.77) -118.86%, rgba(100, 123, 100, 0) 25.62%, rgba(100, 123, 100, 0) 98.53%), #FFFFFF;
  border-radius: 8px;
  transition-timing-function: ease-in-out;
  z-index: 2;
}
@media screen and (max-width: 949px) {
  .working-types .working-types-wrapper .working-types-info-wrapper .working-type {
    padding-left: 25px;
    padding-right: 25px;
  }
}
.working-types .working-types-wrapper .working-types-info-wrapper .working-type:hover {
  background-color: #647B64;
}
.working-types .working-types-wrapper .working-types-info-wrapper .working-type:hover .working-type-icon svg path {
  fill: #FEFEFE;
}
.working-types .working-types-wrapper .working-types-info-wrapper .working-type:hover .working-type-title,
.working-types .working-types-wrapper .working-types-info-wrapper .working-type:hover .working-type-description {
  color: #FEFEFE;
}
.working-types .working-types-wrapper .working-types-info-wrapper .working-type .working-type-icon {
  margin-bottom: 24px;
}
.working-types .working-types-wrapper .working-types-info-wrapper .working-type .working-type-icon svg path {
  fill: #647B64;
  transition-timing-function: ease-in-out;
}
.working-types .working-types-wrapper .working-types-info-wrapper .working-type .woking-type-title {
  transition-timing-function: ease-in-out;
}
.working-types .working-types-wrapper .working-types-info-wrapper .working-type .working-type-description {
  font-weight: 500;
  transition-timing-function: ease-in-out;
}

.business-model {
  padding: 70px 0;
  position: relative;
}
.business-model .business-model-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  gap: 100px;
}
@media screen and (max-width: 1099px) {
  .business-model .business-model-wrapper {
    gap: 0;
  }
}
.business-model .business-model-wrapper .business-model-image-wrapper {
  width: 50%;
  position: relative;
}
@media screen and (max-width: 1099px) {
  .business-model .business-model-wrapper .business-model-image-wrapper {
    width: 45%;
    overflow: hidden;
    right: 0;
  }
}
@media screen and (max-width: 949px) {
  .business-model .business-model-wrapper .business-model-image-wrapper {
    width: 40%;
  }
}
@media screen and (max-width: 799px) {
  .business-model .business-model-wrapper .business-model-image-wrapper {
    width: 35%;
  }
}
@media screen and (max-width: 779px) {
  .business-model .business-model-wrapper .business-model-image-wrapper {
    width: 30%;
  }
}
.business-model .business-model-wrapper .business-model-image-wrapper img {
  height: 100%;
}
@media screen and (max-width: 1099px) {
  .business-model .business-model-wrapper .business-model-image-wrapper img {
    position: absolute;
    right: 0;
  }
}
.business-model .business-model-wrapper .business-model-info {
  width: 50%;
  padding: 50px;
  margin-left: auto;
  z-index: 10;
  position: relative;
}
@media screen and (max-width: 1099px) {
  .business-model .business-model-wrapper .business-model-info {
    width: 55%;
  }
}
@media screen and (max-width: 949px) {
  .business-model .business-model-wrapper .business-model-info {
    width: 60%;
  }
}
@media screen and (max-width: 799px) {
  .business-model .business-model-wrapper .business-model-info {
    width: 65%;
  }
}
@media screen and (max-width: 779px) {
  .business-model .business-model-wrapper .business-model-info {
    width: 70%;
  }
}
@media screen and (max-width: 599px) {
  .business-model .business-model-wrapper .business-model-info {
    width: 85%;
  }
}

.slider {
  padding: 70px 0 150px 0;
}
.slider .slider-wrapper .slider-header {
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
.slider .slider-wrapper .slider-header .slider-buttons {
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 779px) {
  .slider .slider-wrapper .slider-header .slider-buttons {
    display: none;
  }
}
.slider .slider-wrapper .slider-header .slider-buttons button.button-left,
.slider .slider-wrapper .slider-header .slider-buttons button.button-right {
  background-color: transparent;
  border: none;
  padding: 22px;
  border-radius: 100px;
  cursor: pointer;
}
.slider .slider-wrapper .slider-header .slider-buttons button.button-left.button-right,
.slider .slider-wrapper .slider-header .slider-buttons button.button-right.button-right {
  transform: rotate(180deg);
}
.slider .slider-wrapper .slider-header .slider-buttons button.button-left:hover,
.slider .slider-wrapper .slider-header .slider-buttons button.button-right:hover {
  background: linear-gradient(102.3deg, #647B64 -4.62%, #6ADD6A 178.22%);
  box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.06);
}
.slider .slider-wrapper .slider-header .slider-buttons button.button-left:hover svg path,
.slider .slider-wrapper .slider-header .slider-buttons button.button-right:hover svg path {
  fill: #FEFEFE;
}
.slider .slider-wrapper .slider-header .slider-buttons button.button-left svg,
.slider .slider-wrapper .slider-header .slider-buttons button.button-right svg {
  vertical-align: middle;
}
.slider .slider-wrapper .main-slider .slide-wrapper {
  display: flex;
  gap: 40px;
}
@media screen and (max-width: 779px) {
  .slider .slider-wrapper .main-slider .slide-wrapper {
    overflow: hidden;
  }
}
@media screen and (max-width: 699px) {
  .slider .slider-wrapper .main-slider .slide-wrapper {
    gap: 30px;
  }
}
.slider .slider-wrapper .main-slider .slide-wrapper .slide {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(358.27deg, rgba(100, 123, 100, 0.77) -118.86%, rgba(100, 123, 100, 0) 25.62%, rgba(100, 123, 100, 0) 98.53%), #FFFFFF;
  border-radius: 8px;
  min-width: 240px;
}
@media screen and (max-width: 699px) {
  .slider .slider-wrapper .main-slider .slide-wrapper .slide {
    padding: 20px;
  }
}
.slider .slider-wrapper .main-slider .slide-wrapper .slide .slide-image {
  width: 50%;
}
.slider .slider-wrapper .main-slider .slide-wrapper .slide .slide-image img {
  width: 100%;
}
.slider .slider-wrapper .main-slider .slide-wrapper .slide .slide-title {
  width: 50%;
}
.slider .slider-wrapper .main-slider .slide-wrapper .slide .slide-title .specialty {
  font-weight: 500;
  font-size: 16px;
  line-height: 116%;
  color: #333333;
}
.slider .slider-wrapper .main-slider .slide-wrapper .slide .slide-title .name {
  font-weight: 400;
  font-size: 13px;
  line-height: 132%;
  letter-spacing: 0.04em;
  color: #4F4F4F;
}
.slider .slider-wrapper .main-slider .slide-wrapper .slide .slide-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 132%;
  letter-spacing: 0.04em;
  color: #4F4F4F;
}

.footer {
  padding: 100px 0;
  background-color: #F0DCC5;
}
.footer .footer-wrapper {
  display: flex;
  gap: 66px;
}
@media screen and (max-width: 1099px) {
  .footer .footer-wrapper {
    gap: 25px;
  }
}
@media screen and (max-width: 799px) {
  .footer .footer-wrapper {
    flex-wrap: wrap;
  }
}
.footer .footer-wrapper .footer-about-us {
  width: 20%;
}
@media screen and (max-width: 1099px) {
  .footer .footer-wrapper .footer-about-us {
    width: 30%;
  }
}
@media screen and (max-width: 799px) {
  .footer .footer-wrapper .footer-about-us {
    width: 100%;
  }
}
.footer .footer-wrapper .footer-about-us .footer-logo {
  margin-bottom: 16px;
}
.footer .footer-wrapper .footer-about-us .footer-logo img {
  vertical-align: middle;
}
.footer .footer-wrapper .footer-about-us .footer-logo img:first-child {
  height: 35px;
}
.footer .footer-wrapper .footer-about-us .footer-description {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 132%;
  letter-spacing: 0.04em;
  color: #4F4F4F;
}
.footer .footer-wrapper .footer-about-us .copy-rights {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #4F4F4F;
}
.footer .footer-wrapper .footer-about-us .copy-rights p {
  margin: 0;
}
.footer .footer-wrapper .footer-about-us .social-platforms {
  display: flex;
  gap: 16px;
}
.footer .footer-wrapper .footer-about-us .social-platforms .social-icon {
  height: 32px;
  width: 32px;
  background-color: rgba(100, 123, 100, 0.1);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer-wrapper .footer-menu {
  display: flex;
  gap: 120px;
  width: 80%;
}
@media screen and (max-width: 1099px) {
  .footer .footer-wrapper .footer-menu {
    gap: 30px;
  }
}
@media screen and (max-width: 949px) {
  .footer .footer-wrapper .footer-menu {
    gap: 20px;
  }
}
@media screen and (max-width: 799px) {
  .footer .footer-wrapper .footer-menu {
    width: 100%;
  }
}
@media screen and (max-width: 599px) {
  .footer .footer-wrapper .footer-menu {
    flex-wrap: wrap;
  }
}
.footer .footer-wrapper .footer-menu .footer-menu-section {
  width: 25%;
  display: flex;
  flex-direction: column;
}
.footer .footer-wrapper .footer-menu .footer-menu-section:not(.message-box) {
  gap: 24px;
}
@media screen and (max-width: 1099px) {
  .footer .footer-wrapper .footer-menu .footer-menu-section {
    width: 25%;
  }
}
@media screen and (max-width: 799px) {
  .footer .footer-wrapper .footer-menu .footer-menu-section {
    width: 25%;
  }
}
@media screen and (max-width: 599px) {
  .footer .footer-wrapper .footer-menu .footer-menu-section {
    width: 45%;
  }
}
.footer .footer-wrapper .footer-menu .footer-menu-section .footer-menu-section-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #647B64;
}
.footer .footer-wrapper .footer-menu .footer-menu-section .footer-menu-section-title.uppercase {
  text-transform: uppercase;
}
.footer .footer-wrapper .footer-menu .footer-menu-section .footer-menu-item-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .footer-wrapper .footer-menu .footer-menu-section .footer-menu-item-list .footer-menu-item .footer-menu-item-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333333;
}
.footer .footer-wrapper .footer-menu .footer-menu-section.message-box {
  width: 50%;
}
@media screen and (max-width: 1099px) {
  .footer .footer-wrapper .footer-menu .footer-menu-section.message-box {
    width: 45%;
  }
}
@media screen and (max-width: 799px) {
  .footer .footer-wrapper .footer-menu .footer-menu-section.message-box {
    width: 50%;
  }
}
@media screen and (max-width: 599px) {
  .footer .footer-wrapper .footer-menu .footer-menu-section.message-box {
    width: 100%;
    padding-top: 20px;
  }
}
.footer .footer-wrapper .footer-menu .footer-menu-section.message-box textarea {
  margin-top: 13px;
  margin-bottom: 28px;
  width: 100%;
  resize: none;
  background-color: #FFFFFF;
  border-radius: 2px;
  border-color: #FFFFFF;
}
.footer .footer-wrapper .footer-menu .footer-menu-section.message-box textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #4F4F4F;
  padding-left: 20px;
  padding: 12px 24px;
  font-family: "Montserrat", sans-serif;
}
.footer .footer-wrapper .footer-menu .footer-menu-section.message-box textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #4F4F4F;
  padding-left: 20px;
  padding: 12px 24px;
  font-family: "Montserrat", sans-serif;
}
.footer .footer-wrapper .footer-menu .footer-menu-section.message-box textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #4F4F4F;
  padding-left: 20px;
  padding: 12px 24px;
  font-family: "Montserrat", sans-serif;
}
.footer .footer-wrapper .footer-menu .footer-menu-section.message-box textarea:-o-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #4F4F4F;
  padding-left: 20px;
  padding: 12px 24px;
  font-family: "Montserrat", sans-serif;
}
.footer .footer-wrapper .footer-menu .footer-menu-section.message-box .full-width {
  width: 100%;
  padding: 20px 22px 20px 22px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

.page-wrapper {
  background: linear-gradient(3deg, rgb(255, 255, 255) 30%, rgb(255, 243, 233) 100%);
}

.button-small {
  background: linear-gradient(102.3deg, #647B64 -4.62%, #66AC66 178.22%), linear-gradient(102.3deg, #0BB1E3 -4.62%, #0F2976 178.22%), #0E70AF;
  padding: 10px 15px;
  border-radius: 3px;
  color: #FEFEFE;
}

.button-big {
  background: linear-gradient(102.3deg, #647B64 -4.62%, #66AC66 178.22%);
  box-shadow: 0px 20px 40px rgba(128, 143, 150, 0.19);
  border-radius: 2px;
  color: #FEFEFE;
  text-transform: uppercase;
  width: 350px;
  max-width: 100%;
  font-weight: 600;
  font-size: 16px;
  line-height: 125.5%;
  letter-spacing: 0.155em;
  text-decoration: none;
  padding: 27px 22px 27px 29px;
  display: flex;
  justify-content: space-between;
}

.center {
  text-align: center;
}

.section-subheading {
  margin: 0;
  margin-bottom: 17px;
  color: #F3B562;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  text-transform: uppercase;
}

.section-title {
  margin: 0;
  margin-bottom: 40px;
  color: #647B64;
  font-weight: 500;
  font-size: 41px;
  line-height: 110%;
  text-transform: uppercase;
}
@media screen and (max-width: 699px) {
  .section-title {
    font-size: 32px;
  }
}

.section-description {
  margin-bottom: 40px;
  color: #4F4F4F;
  font-weight: 400;
  font-size: 16px;
  line-height: 132%;
  letter-spacing: 0.04em;
}

.section-unit-title {
  margin: 0;
  margin-bottom: 6px;
  font-weight: 500;
  font-size: 24px;
  line-height: 116%;
  color: #333333;
}/*# sourceMappingURL=figma-project-2.css.map */