$color-bright: #FEFEFE;
$color-regular: #4F4F4F;
$color-dark-focus: #333333;
$color-dark-green: #647B64;

$font-size-small: 13px;
$font-size-normal: 16px;
$font-size-normal-medium: 20px;
$font-size-medium: 24px; 



$font-weight-regular: 400;
$font-weight-medium: 500;

$line-height-medium: 132%;
$line-height-regular: 116%;

$letter-spacing-regular: 0.04em;

$border-radius-regular: 8px;